
body{
    font-family: Roboto;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
   
}
.conteiner{
   width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
   
   
}

.section{
    padding: 94px 0;
}
.title{
    margin-bottom: 50px;
     font-style: normal;
     font-weight: 700;
     font-size: 36px;
     line-height: 42px;
     text-align: center;

     
     color: #212121;}
     address ul {
        padding-left: 0;
    }

    .hide{
        display: none;
    }
    